# Final Project

## This is the final peer graded assignment from the course Tool for Data Science week4

#### In this cell I am going to list out three commonly use data science language
1. Python
2. R
3. SQL

#### While this is the cell that list out three data science libraries
1. Numpy
2. Pandas
3. Sklearn

|Data Science tools|
|------------------|
|IBM Watson Studio |
|SPSS Modeler      |
|SPSS Statistic    |

Arithmetic expression in Jupyter notebook could be as simple as 1+1

In [9]:
1+1

2

In [8]:
2*3

6

In [11]:
def min_to_hour(mins):
    return (mins/60)

print("60 minutes is", min_to_hour(60), "hour.")

60 minutes is 1.0 hour.

|List of Objectives                     |
|---------------------------------------|
|Broaden my vision                      |
|Landed a job is DS                     |
|Getting distinguish result in my degree|

##### Andy lee